<nav class="sidebar">
    <ul>
        <li class="title">Portal</li>
        <li><a href="@Url.Action("CustomerOrders", "Portal")"><i class="icon-list"></i>Customer orders</a></li>
        <li><a href="@Url.Action("Calendar", "Portal")"><i class="icon-calendar"></i>Calendar</a></li>
        <li><a href="@Url.Action("Customers", "Portal")"><i class="icon-user-3"></i>Customers</a></li>
        <li><a href="@Url.Action("Orders", "Portal")"><i class="icon-user-3"></i>Orders</a></li>
</ul>
</nav>

