<h1>
    Manage Customer
</h1>
<div><span class="label">Customer Name</span> <span class="label label-primary">@ViewBag.displayName</span></div>
@section left {
    @Html.Partial("_navigation")
}
@section right {
}
@section scripts {
    <script type="text/javascript">

        $(function () {

        });
    </script>

}