<nav class="sidebar">
    <ul>
        <li class="title">Portal</li>
        <li><a href="@Url.Action("YourOrders", "Portal")"><i class="icon-home"></i>Your orders</a></li>
        <li><a href="@Url.Action("NewOrder", "Portal")"><i class="icon-cog"></i>New order</a></li>
    </ul>
</nav>

