<ul class="horizontal-menu nlm">
    <li><a href="#">prototypes</a></li>
    <li class="place-right">
        <a href="#" class="dropdown-toggle">options</a>
        <ul class="dropdown-menu place-right" data-show="hover">
            <li><a href="http://www.innovazionefvg.net/">Go to 1nn0va</a></li>
        </ul>
    </li>
</ul>
